<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/forum-style.css">
    <title>Document</title>
</head>

<body>
    <section class="discussion-forum">
        <span class="section-header">Date:</span>
        <div class="topic-info">
            <div class="topic-image">
                <img src="./images/Squad.jpg" alt="topic-image">
            </div>
            <div class="topic-details">
                <h2 class="topic-author">Dido</h2>
                <h1 class="topic-heading">What is the best exercise for legs?</h1>
                <h3 class="topic-category">Exercises</h3>
                <p class="topic-description">Squad is the best exercsice for legs and it is essention for legs growth,
                    but is there another exercise that is better?</p>
            </div>
        </div>
        <div class="comments">
            <span class="section-header">Date:</span>
            <div class="topic-comments">
                <div class="comment-author">
                    <div class="author-image">
                        <img src="./images/profile.jpg" alt="">
                    </div>
                    <div class="author-details">
                        <h2 class="author-name">Dido Parvanov</h2>
                        <p class="total-comments">Comments: 14</p>
                        <p class="total-likes">Likes: 5</p>
                    </div>
                </div>
                <div class="comment-section">
                    <div class="comment-content">
                        <p class="comment">You can try bulgarian squads. I think they are one of the best!</p>
                    </div>
                    <div class="buttons">
                        <button class="button-delete">Delete</button>
                        <button class="button-edit">Edit</button>
                    </div>
                </div>
            </div>
            <span class="section-header">Date:</span>
            <div class="topic-comments">
                <div class="comment-author">
                    <div class="author-image">
                        <img src="./images/profile.jpg" alt="">
                    </div>
                    <div class="author-details">
                        <h2 class="author-name">Dido Parvanov</h2>
                        <p class="total-comments">Comments: 14</p>
                        <p class="total-likes">Likes: 5</p>
                    </div>
                </div>
                <div class="comment-section">
                    <div class="comment-content">
                        <p class="comment">You can try bulgarian squads. I think they are one of the best!</p>
                    </div>
                    <div class="buttons">
                        <button class="button-delete">Delete</button>
                        <button class="button-edit">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-comment">
            <h1 class="add-comment-header">Add Comment</h1>
            <form action="post">
                <textarea name="text" id="" cols="30" rows="5"></textarea>
                <button type="submit" class="add-comment-btn">Submit</button>
            </form>
        </div>
    </section>
</body>

</html>